html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color:whitesmoke;
  margin: 0;
}

.container-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.box {
  background: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
}
#in {
  font-size: .85em;
  position: absolute;
  top: 20px;
  text-align: center;
  width: 22%;
}